html, body{
  margin:0;
  padding:0;
  height:100%;
  background: url("../images/fondo.png");
  font-family: arial;
  color: #555555;
}
header{
  background: #ffffff;
  border-bottom: 3px solid #d1cece;
  margin-bottom: 10px;
  padding:5px 0;
}
header h1{
  font-weight: lighter;
}
nav a{
  text-decoration: none;
  color: #555555;
  font-size: 18px;
}
nav a:hover{
  color: #0000c4;
}
section{
  margin:10px 0 0 0;
  padding: 0 0 20px 0;
  background: #ffffff;
  border-bottom: 3px solid #d1cece;
  margin-bottom: 10px;
}
aside #formInicioSesion{
  margin-top: 0;
  background: #ffffff;
  border-bottom: 3px solid #d1cece;
}
footer{
  position:relative;
  margin-top: -140px;
  height: 150px;
  clear:both;
  background: #ffffff;
}
.sectionTitulo{
  margin:0;
  padding:0;
  color: #ffffff;
  font-weight: lighter;
  padding-bottom: 5px;
  cursor: default;
  background: #010084;
}
.logo{
  color: #ffffff;
}
.groupButton button{
  padding: 5px;
  color: #555555;
  font-size:14px;
  font-weight: bold;
  background: #ffffff;
  border:none;
  border-bottom: 3px solid #d1cece;
}
.groupButton button:hover{
  cursor:pointer;
  border-color: #010084;
  color: #3333FF;
}
.groupButton button:active{
  cursor:pointer;
  border:none;
  border-top: 3px solid #000042;
  color: #ffffff;
  background: #010084;
}
.groupButton button:focus{
  outline: 0px;
}
.groupButton a{
  padding: 5px;
  color: #555555;
  font-weight: bold;
  background: #ffffff;
  border:none;
  border-bottom: 3px solid #d1cece;
  text-decoration: none;
  font-size: 14px;
}
.groupButton a:hover{
  cursor:pointer;
  border-color: #010084;
  color: #3333FF;
}
.groupButton a:active{
  cursor:pointer;
  border: none;
  border-top: 3px solid #000042;
  color: #ffffff;
  background: #010084;
}
.instagram, .twitter{
  margin:10px 0;
  padding:10px;
}
.inputForm{
  padding: 5px;
  color: #555555;
  font-weight: bold;
  border:none;
  border-bottom: 2px solid #d1cece;
  text-align: center;
}
.inputForm:focus{
  outline: 0px;
  border-bottom-color: #010084;
  color: #3333FF;
}
.msj-error{
  color: #dd4b39;
}
.msj-correcto{
  color: #34af23;
}
#main{
  padding-bottom:150px;
}
#wrap{
  min-height: 100%;
}
#tituloSection{
  margin: 0 0 20px 0;
  padding: 10px 0 8px 0;
  background: #010084;
  color: #ffffff;
  font-weight: lighter;
}
#formInicioSesion div{
  margin:10px 0;
  padding: 0 8px;
}
#formInicioSesion div:nth-child(2){
  margin-top: 20px;
}
#formInicioSesion h2{
  margin: 10px 0;
  padding: 10px 0 0 0;
  color: #ffffff;
  font-weight: lighter;
  padding-bottom: 5px;
  cursor: default;
  background: #010084;
}
.form input,textarea{
  margin:5px;
  font-size: 15px;
}
.form button{
  margin-top:20px;
  font-size: 16px;
}
.form button.fotop{ font-size: 15px !important; }
.form select.inputForm{
  font-size: 15px;
}
.form .checkInput{ margin: 0 0 0.75em 0; }
.form input[type='file']{display:none;}
.form input[type="radio"]{ display: none; }
.form input[type="radio"]+label{
  font-weight: bold;
  font-size: 15px;
}
.form input[type="radio"]+label span{
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border: 3px solid #555555;
  padding: 5px;
  background-clip: content-box;
}
.form input[type="radio"]:checked+label span{ background-color: #010084; }

/* Placeholders de los Inputs */
.placeholder::-webkit-input-placeholder { color: #555555; text-align: center;}
.placeholder:-moz-placeholder { color: #555555; text-align: center;}
.placeholder::-moz-placeholder { color: #555555; text-align: center;}
.placeholder:-ms-input-placeholder { color: #555555; text-align: center;}
.placeholder-error::-webkit-input-placeholder { color: #dd4b39; text-align: center;}
.placeholder-error:-moz-placeholder { color: #dd4b39; text-align: center;}
.placeholder-error::-moz-placeholder { color: #dd4b39; text-align: center;}
.placeholder-error:-ms-input-placeholder { color: #dd4b39; text-align: center;}
/* Productos */
#categorias{
  display: inline-block;
  list-style-type: none;
  margin: 0 auto 20px auto;
  padding: 0;
}
#categorias li{
  position: relative;
  margin: 0 auto;
  float:left;
}
#categorias li a{
  display: block;
  text-transform: capitalize;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  width: 10em;
  padding: 10px;
  font-weight: bold;
  background-color: #010084;
  border: 3px solid transparent;
}
#categorias li ul{
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 10em;
  z-index: 2000;
}
#categorias li:hover ul{
  display: block;
}
#categorias ul li{
  clear: left;
}
#categorias ul li a{
  background: #ffffff;
  color: #555555;
  border-color: #555555;
  border-bottom: none;
}
#categorias ul li:last-child a{
  border-bottom: 3px solid;
}
#categorias ul li a:hover{
  background: #ffffff;
  color: #010084;
  border-color: #555555;
}
.producto{
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.producto img {
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.producto .mascara {
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-300px);/*Desplazamos 300px a la izquierda*/
  transition: all 0.4s ease-in-out;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 100%;
  margin: 0 8px;
}
.producto .mascara p{text-align: left;}
.producto h2{
  background: rgb(1, 0, 133);
  margin: 0;
  color: #ffffff;
  padding: 10px 0 8px 0;
  font-weight: normal;
  height: 10%;
}
.producto:hover .mascara {
  transform: translateX(0px);/*Regresamos a su posicioón original*/
}
.mascara .row{
  background: #ffffff;
  margin: 10px;
  border-bottom: 3px solid #d1cece;
  font-weight: bold;
  height: 78%;
}
.tituloh1{
  margin-left: auto;
  margin-right: auto;
  display: inline;
  text-align: center;
}
.hide{
  display: none;
}

/* Nivel de Usuario */
  #formInicioSesion .panelUsuario{position: relative;}
  #formInicioSesion .cerrarSesion{
    position: absolute;
    right: 0;
    margin-right: 45px;
    color: #ffffff;
  }
